@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two');

@media screen and (max-width: 690px) {
   :root {
    }
}

@media screen and (min-width: 690px) {
   :root {
    }
}


.container{
    width:100%;
    flex:1;
    justify-content: center;
    margin-top:100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content{
  width:70%;
  position: relative;
}

.loader img{
  width:150px;
  height: 150px;
  display: block;
  margin: auto;
}

.loader{
  transition: opacity 0.5s;
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  z-index: 300;
  background: #E5EFF1;
}

.login-container{
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.action-selector{
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}

.action-selector li{
    float: left;
    width: 50%;
    text-align: center;
    font-family: "Shadows Into Light Two";
    text-shadow: 3px 3px 7px rgba(205, 205, 205, 0.5);
    font-weight: 500;
    font-size:22px;
    color:rgb(59, 59, 59);
    box-sizing: border-box;
    border-style: solid;
    border-color:transparent;
    border-width: 2px 0px 0px 0px;    
    padding:5px 5px 5px 5px;
    transition: border 0.3s;
}

.action-selector li span:hover{
    cursor: pointer;
    color:rgb(6, 40, 2);
}

.action-selector li.active{    
  border-style: solid;
  border-color:rgba(6, 100, 2,0.4);
  border-width: 2px 0px 0px 0px;
}

.action-container-wrapper{
  width: 100%;
  overflow: hidden;
}

.action-container{
  width:200%;
}

.tab{
  box-sizing: border-box;
  width: 50%;
  float:left;
}

.login{
  text-align: center;
  padding-top: 50px;
}

.login .login-form{
  display: inline-block;
  text-align: left;
}

.login .login-form input,.login .login-form button{
  display: block;
  width:320px;
  box-sizing: border-box;
  border-radius: 20px;
}

.keep-session{
  margin-left: 5px !important;
}

 .keep-session *{
  display: inline-block !important;
  color:#B8BFC0;
  font-family: "Shadows Into Light Two";
  width: auto !important;
  padding-top: 10px;
  padding-bottom: 10px;
 }

.login .login-form input{
  background: #E5EFF1;
  border-width: 1px;
  border-style: solid;
  border-color:grey;
  padding:10px;
  margin-bottom: 10px;
  font-family: "Shadows Into Light Two";
  font-size:18px;
  word-spacing: 1.5px;
  text-align: center;
}

.login .login-form input::placeholder{
  font-family: "Shadows Into Light Two";
  font-size:18px;
  word-spacing: 1.5px;
  text-align: center;
}

.login .login-form button{
  background: #FF686D;
  font-family: "Shadows Into Light Two";
  color: white;
  border: 0;
  padding:10px;
  font-size:18px;
  font-weight: bold;
}

.login .login-form button:hover{
  cursor: pointer;
  color: wheat;
}

@media screen and (max-width: 690px) {
    .container{
      margin-top:50px;
    }

    .content{
      width: 100%;
    }
}