@media screen and (max-width: 690px) {
    :root {
    }
}

@media screen and (min-width: 690px) {
    :root {
    }
}

.container {
    width: 100%;
    flex: 1;
    justify-content: center;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content,
.formGroup {
    width: 70%;
    position: relative;
}

.loader img {
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

.loader {
    transition: opacity 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 300;
    background: #e5eff1;
}

.login-container {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.action-selector {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.action-selector li {
    float: left;
    width: 50%;
    text-align: center;

    text-shadow: 3px 3px 7px rgba(205, 205, 205, 0.5);
    font-weight: 500;
    font-size: 22px;
    color: rgb(59, 59, 59);
    box-sizing: border-box;
    border-style: solid;
    border-color: transparent;
    border-width: 2px 0px 0px 0px;
    padding: 5px 5px 5px 5px;
    transition: border 0.3s;
}

.action-selector li span:hover {
    cursor: pointer;
    color: rgb(6, 40, 2);
}

.action-selector li.active {
    border-style: solid;
    border-color: rgba(6, 100, 2, 0.4);
    border-width: 2px 0px 0px 0px;
}

.action-container-wrapper {
    width: 100%;
    overflow: hidden;
}

.action-container {
    width: 200%;
}

.tab {
    box-sizing: border-box;
    width: 50%;
    float: left;
}

.login,
.signup {
    text-align: center;
    padding-top: 50px;
}

.login .login-form,
.signup .signup-form {
    display: inline-block;
    text-align: left;
}

.login .login-form input,
.login .login-form button,
.signup .signup-form input,
.formGroup button {
    display: block;
    width: 320px;
    box-sizing: border-box;
    border-radius: 20px;
}

.login .login-form input,
.signup .signup-form input {
    background: #e5eff1;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    padding: 10px;
    margin-bottom: 10px;

    font-size: 18px;
    word-spacing: 1.5px;
    text-align: center;
}

#birthdate:before {
    content: attr(placeholder) !important;
    margin-right: 2em;
    margin-left: 2.5em;
    color: #808080;
}

#birthdate:focus:before,
#birthdate:valid:before {
    content: "";
}

.login .login-form input::placeholder,
.signup .signup-form input::placeholder {
    font-size: 18px;
    word-spacing: 1.5px;
    text-align: center;
}

.login .login-form button,
.formGroup button {
    background: #ff686d;

    color: white;
    border: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.login .login-form button:hover,
.formGroup button {
    cursor: pointer;
    color: wheat;
}

@media screen and (max-width: 690px) {
    .container {
        margin-top: 50px;
    }

    .content {
        width: 100%;
    }
}

.background {
    font-size: 25px;
    margin: 20px 0 20px 0;
}

.activitate {
    font-size: 20px;
}

.formGroup {
    align-content: center;
    float: right;
}

.formGroup ul,
.formGroup li {
    padding: 0;
    margin: 5px 5px;
}

.formGroup ul {
    list-style-type: none;
}

.formGroup li {
    text-align: left;
}

/* ------------------------------------------------------------------------ */
.mv-auth-logo {
    width: 250px;
    display: block;
    margin: 150px auto 50px;
}

.mv-auth-logo img {
    max-width: 100%;
}

.mv-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.mv-btn.mv-btn-primary {
    color: white;
    background: #20a8d8;
    border: 1px solid #20a8d8;
}

.mv-form-group {
    margin: 0 0 20px;
}

.mv-form-group label {
    margin: 0 0 5px;
    display: inline-block;
}

input[type="text"],
input[type="password"] {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #d1d4d7;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #3d3f42;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.mv-auth {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.mv-info-box {
    border-top: 1px solid #ccc;
    padding: 10px 0 0;
    margin: 20px 0 0;
}

.mv-forgot-password {
    display: flex;
    justify-content: space-between;
}
