.mv-fieldset h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
}

.mv-fieldset {
    margin: 0 0 30px;
    padding: 0 0 5px;
}

.mv-fieldset-subtitle {
    color: #ccc;
    display: block;
    margin: -10px 0 30px;
}

.mv-activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 30px;
}

.mv-activities .mv-form-group {
    width: 30%;
}

.mv-form-group.mv-radio input[type="radio"] {
    margin-right: 10px;
    top: -2px;
    position: relative;
    display: inline-block;
}

.mv-job-description {
    display: block;
    margin: 0 0 15px;
}

.mv-radio {
    margin-bottom: 10px;
}
