.mv-fieldset h3 {
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
    margin: 20px 0;
}

.mv-fieldset {
    margin: 0 0 30px;
    padding: 0 0 5px;
}

.mv-fieldset-subtitle {
    color: #ccc;
    display: block;
    margin: 10px 0 30px;
}

.mv-fieldset-error {
    color: #edc2c5;
}

.mv-activities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 30px;
}

.mv-activities .mv-form-group {
    width: 30%;
}

.mv-form-group.mv-radio input[type="radio"] {
    margin-right: 10px;
    top: -2px;
    position: relative;
    display: inline-block;
}

.mv-job-description {
    display: block;
    margin: 0 0 15px;
}

.mv-radio {
    margin-bottom: 10px;
}

.register-button-container {
    display: flex;
    justify-content: space-between;
}

.mv-form-group p {
    font-family: Montserrat;
}

.register-error-text {
    font-size: 20px;
    color: red;
}

.input-container {
    position: relative;
}

.error-icon {
    position: absolute;
    color: red;
    top: 33px;
    right: 5px;
}

.error-input {
    border-color: red !important;
}
.redo-link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.progress {
    margin: 20px 0;
    text-align: center;
}
.progress .circle,
.progress .bar {
    display: inline-block;
    background: #fff;
    width: 40px; height: 40px;
    border-radius: 40px;
    border: 1px solid #d5d5da;
}
.progress .bar {
    position: relative;
    height: 6px;
    top: -3px;

    border-left: none;
    border-right: none;
    border-radius: 0;
}
.progress .circle .label {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 32px;
    margin-top: 3px;
    color: #b5b5ba;
    font-size: 17px;
}
.progress .circle .title {
    color: #b5b5ba;
    font-size: 13px;
    line-height: 30px;
    margin-left: -5px;
}

/* Done / Active */
.progress .bar.done,
.progress .circle.done {
    background: #eee;
}
.progress .bar.active {
    background: linear-gradient(to right, #EEE 40%, #FFF 60%);
}
.progress .circle.done .label {
    color: #FFF;
    background: #8bc435;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.done .title {
    color: #444;
}
.progress .circle.active .label {
    color: #FFF;
    background: #0c95be;
    box-shadow: inset 0 0 2px rgba(0,0,0,.2);
}
.progress .circle.active .title {
    color: #0c95be;
}