content {
    font-family: "Shadows Into Light Two";
}

.items-from-list {
    font-family: "Montserrat";
    font-size: 14px;
    margin-left: 10%;
    max-width: 60%;
}


.phone-number {
	display:flex;
	flex-direction: column;
}

.phone-number-select {
    height: auto;
}

.volunteers {
	min-width: 450px;
	max-width: 1000px;
}

.volunteer-list {
	margin: 0;
}
.ul-of-volunteers {
    list-style-type: none;
    height: 620px;
}

li div {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-family: "Shadows Into Light Two";
}

button {
    color: brown;
    display: block;
    box-sizing: border-box;
    border-radius: 20px;
    font-family: "Shadows Into Light Two";
    border: 0;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    color: wheat;
}

.volunteer-name {
    min-width: 165px;
    color: black;
    display: inline-block;
    margin: 0;
    text-align: left;
    cursor: pointer;
}

.add-button {
    display: flex;
    justify-content: center;
}

.pagination {
    width: 55%;
    color: #20a8d8;
    display: flex;
    font-family: "Shadows Into Light Two";
    justify-content: space-around;
    margin-left: 22%;
}
.pagination a {
    text-decoration: none;
    color: #20a8d8;
}

.pagination a:hover {
    opacity: 0.6;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
